.main-footer{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 500px 350px 120px repeat(2,339px);
    grid-template-rows: 1fr 1fr;
    height: 517px;
background-color: #0b1524;
.main-logo{
    margin-inline-start: 120px;
    margin-block-start: 200px;
    margin-block-end: 22px;
}
.location{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    gap:10px;
    margin-inline-start: 107px;
    .location-svg{
        margin-inline-start: 27px;
    }
    span{
        font-family: OpenSans;

    }
}
.contacts{
    margin-inline-start: 83px;
    grid-column: 2;
    grid-row: 2;
    .contact-type{
        margin-bottom: 23px;
        display: flex;
        gap:10px
    }
}
.about-us{
    grid-column: 3;
    grid-row: 2;
}
.about-us p:first-of-type{
    margin-top: 0;
}
.privacy-terms{
    grid-column: 4;
    grid-row: 2;
}
.privacy-terms p:first-of-type{
    margin-top: 0;
}
}
.footer-svg{
    fill:#fff
}