.stay-productive-container {
    display: flex;
    margin-bottom: 179px;

    .stay-productive-info {
        display: flex;
        flex-direction: column;
        margin-top: 115px;

        h2 {
            width: 343px;
            margin: 0;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            text-align: left;
        }

        p {
            font-family: OpenSans;
            font-size: 16px;
        }

        .action-link {
            display: flex;
            align-items: center;

            a {
                color: #62e0d9;
                font-family: OpenSans;
                text-decoration: underline;

            }

            span {
                margin-block-start: 9px;
                margin-inline-start: 8px;
                text-decoration: underline;

            }

        }
    }

    .stay-productive-info p:first-of-type {
        margin-block-end: 0;
    }
}