@font-face {
    font-family: Raleway;
    src: url(https://res.cloudinary.com/dii16awkb/raw/upload/v1681100261/Raleway-Regular_lhf4wl.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(https://res.cloudinary.com/dii16awkb/raw/upload/v1681100408/OpenSans-Regular_s671if.ttf);
}